<section id="widget-grid">
<div class="row"><!-- begin row -->
    <!-- BEGIN SINGLE WIDGET GRID -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-default" id="wid-id-0" data-widget-fullscreenbutton="false" data-widget-togglebutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-sortable="false">

        <header>
        <span class="widget-icon"> <i class="fa fa-shopping-cart"></i> </span>
        <h2><strong>{{ myVar }}</strong></h2>
        <ul class="nav nav-tabs pull-right" id="widget-tab-1">

            <li class="active">

            <a href="#hr1" data-toggle="tab">  O<span class="hidden-mobile hidden-tablet">sta</span> <i class="fa fa-btc"></i></a>

            </li>

            <li class="">
            <a href="#hr2" data-toggle="tab">  M<span class="hidden-mobile hidden-tablet">üü</span> <i class="fa fa-btc"></i></a>
            </li>

        </ul>
        </header>

        <div><!-- widget div-->
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
                <input class="form-control" type="text">
            </div><!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body fuelux">

                <div class="tab-content">
                    <div id="hr1" class="tab-pane fade active in">

                        <div id="myWizard" class="wizard">
                            <ul style="margin-left: 0" class="steps">
                                <li data-target="#step1" class="active">
                                <span class="badge badge-info">1</span><span class="wizard-step-text hidden-mobile hidden-tablet">Sissemakse summa</span><span class="chevron"></span>
                                </li>
                                <li class="" data-target="#step2">
                                <span class="badge">2</span><span class="wizard-step-text hidden-mobile hidden-tablet">Maksemeetod</span><span class="chevron"></span>
                                </li>
                                <li class="" data-target="#step3">
                                <span class="badge">3</span><span class="wizard-step-text hidden-mobile hidden-tablet">Telli Bitcoinid</span><span class="chevron"></span>
                                </li>
                                <li class="" data-target="#step4">
                                <span class="badge">4</span><span class="wizard-step-text hidden-mobile hidden-tablet">Tellimuse staatus</span><span class="chevron"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="step-content">
                            <form class="form-horizontal" id="fuelux-wizard" method="post">

                                <div class="step-pane active" id="step1">
                                    <h3><strong>Samm 1</strong> - Mitu Bitcoini Te soovite osta?</h3>

                                    <!-- wizard form starts here -->
                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">Bitcoinide Summa:</label>
                                            <div class="col-xs-7 col-sm-4 col-md-2">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-btc"></i></span>
                                                    <input class="form-control input-sm" placeholder="0.0000000"type="text">
                                                </div>
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-xs-7 col-sm-3">
                                                <a id="input-euro-button" href="javascript:void(0);" class="btn btn-blue">
                                                    Sisesta Eurodes 
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="you-need" class="col-xs-12 col-sm-10 col-md-6 text-center"><h1><strong>Selleks vajate umbes €302.34 <i class="fa fa-warning text-warning estimated-popover" data-animation="fade" data-trigger="manual" data-container="body" data-toggle="popover" data-placement="bottom" data-title="Tegu on ligikaudse summaga" data-content="Bitcoini hinna volatiilsuse tõttu võib juhtuda, et lõplik vaja minev summa valitud hulga Bitcoinide ostmiseks erineb siin näidatust."></i></strong></h1></div>
                                        </div>

                                    </fieldset>

                                </div>

                                <div class="step-pane" id="step2">
                                    <h3><strong>Samm 2 </strong> - Palun valige Teile sobiv maksemeetod</h3>
                                    <br>
                                    <br>
                                    <h1 class="text-center text-primary"> Maksemeetodi valik tuleb siia </h1>
                                    <br>
                                    <br>
                                    <br>
                                    <br>

                                </div>

                                <div class="step-pane" id="step3">
                                    <h3><strong>Samm 3 </strong> - Vormistage Bitcoinide tellimus</h3>
                                    <br>
                                    <br>
                                    <h1 class="text-center text-primary"> Tellimuse vorm tuleb siia </h1>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>

                                <div class="step-pane" id="step4">
                                    <h3><strong>Samm 4 </strong> - Tellimuse staatus</h3>
                                    <br>
                                    <br>
                                    <h1 class="text-center text-primary"> Siin näitab tellimuse staatust </h1>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>

                            </form>
                        </div>

                    </div>
                    <div id="hr2" class="tab-pane fade">

                        <p>
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                        </p>
                        <p>
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                        </p>

                    </div>
                </div>

                <div class="widget-footer">
                    <button class="btn btn-prev btn-sm btn-labeled btn-success" type="button">
                        <span class="btn-label">
                            <i class="fa fa-chevron-left"></i>
                        </span>
                        Tagasi
                    </button>   

                    <button class="btn btn-next btn-sm btn-labeled btn-success" type="button">
                        <span class="btn-label">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                        Edasi
                    </button>   
                </div><!-- end widget footer -->
            </div><!-- end widget content -->
        </div><!-- end widget div -->
    </div><!-- end widget -->

    <div class="jarviswidget jarviswidget-sortable jarviswidget-color-default" id="wid-id-1" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-sortable="false">

        <header>
        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
        <h2><strong>Bitcoini müügihind</strong> <small>Uueneb reaalajas</small></h2>
        <div class="widget-toolbar">
            <a id="graph-all" class="btn btn-dark-green-glass" href="javascript:void(0);">Kõik</a>
            <a id="graph-week" class="btn btn-dark-green-glass" href="javascript:void(0);">Nädal</a>
            <a id="graph-24h" class="btn btn-dark-green-glass" href="javascript:void(0);">24H</a>
            <a id="graph-1h" class="btn btn-dark-green-glass" href="javascript:void(0);">1H</a>
            <a id="graph-30min" class="btn btn-dark-green-glass" href="javascript:void(0);">30min</a>
        </div>
        </header>

        <div><!-- widget div-->
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
                <input class="form-control" type="text">
            </div><!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                <div id="bitcoin-price-graph" class="chart"></div>

            </div><!-- end widget content -->
        </div><!-- end widget div -->
    </div><!-- end widget -->

    </article>
    <!-- END SINGLE WIDGET GRID -->
</div><!-- end row -->
</section>


