<div class="row select-amount">

    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary pricing-big">
            <img alt="" class="ribbon" src="/img/ribbon_live.png">
            <div class="panel-heading" data-ng-show="bbBuySvc.inputMode === 'btc'">
                <h3 class="panel-title" class="heading-margin">Mitu Bitcoini Te soovite osta?</h3>
            </div>
            <div class="panel-heading" data-ng-show="bbBuySvc.inputMode === 'eur'">
                <h3 class="panel-title" class="heading-margin">Mitme Euro eest Te soovite Bitcoine osta?</h3>
            </div>
            <div class="panel-body no-padding text-align-center">
                <div class="price-features no-border-top">
                    <form></form>
                    <div class="login-validation"> 
                        <form class="smart-form" novalidate="novalidate">
                                <label class="input">
                                    <i data-ng-show="bbBuySvc.inputMode === 'btc'" class="icon-prepend fa fa-btc fa-fw"></i>
                                    <input data-ng-show="bbBuySvc.inputMode === 'btc'" data-ng-model="bbBuySvc.inputtedBtcAmount" data-ng-change="updateEuroAmount()" placeholder="0.0000000" type="text">
                                    <input data-ng-show="bbBuySvc.inputMode === 'eur'" data-bb-currency-mask data-ng-model="bbBuySvc.euroDepositAmount" data-ng-change="updateBtcAmount()"  placeholder="€0.00" type="text">
                                </label>
                        </form>
                    </div>
                    <br>
                    <a data-ng-show="bbBuySvc.inputMode === 'btc'" data-ng-click="changeInputMode( 'eur' )" href="" class="btn btn-blue btn-labeled">
                        <span class="btn-label">
                            <i class="fa fa-euro"></i>
                        </span>
                        Sisesta Eurodes 
                    </a>
                    <a data-ng-show="bbBuySvc.inputMode === 'eur'" data-ng-click="changeInputMode( 'btc' )" href="" class="btn btn-orange btn-labeled">
                        <span class="btn-label">
                            <i class="fa fa-btc"></i>
                        </span>
                        Sisesta Bitcoinides
                    </a>
                </div>
            </div>
            <div class="panel-footer text-align-center">
                <h1 data-ng-show="bbBuySvc.inputMode === 'btc'"><span class="nowrap"><i class="fa fa-btc margin-right-1"></i><strong>{{ bbBuySvc.inputtedBtcAmount || 0 }}</strong></span> ostmiseks vajate <span class="nowrap"><strong>{{ bbBuySvc.euroDepositAmount || 0 | currency : '€'  }}</strong> 
                        <i class="fa fa-warning text-warning estimated-popover"
                            data-bb-init-popover
                            data-container="body"
                            data-trigger="hover"
                            data-placement="bottom"
                            data-toggle="popover" 
                            data-content="Bitcoini hinna volatiilsuse tõttu võib juhtuda, et lõplik vaja minev summa valitud hulga Bitcoinide ostmiseks erineb siin näidatust."
                            title="Tegu on ligikaudse summaga"></i></span>
                    </h1>
                    <h1 data-ng-show="bbBuySvc.inputMode === 'eur'"><strong>{{ bbBuySvc.euroDepositAmount || 0 | currency : '€'  }}</strong> eest saate osta <span class="nowrap"><i class="fa fa-btc margin-right-1"></i><strong>{{ bbBuySvc.inputtedBtcAmount || 0 }}</strong>
                            <i class="fa fa-warning text-warning estimated-popover"
                            data-bb-init-popover
                            data-container="body"
                            data-trigger="hover"
                            data-placement="bottom"
                            data-toggle="popover" 
                            data-content="Bitcoini hinna volatiilsuse tõttu võib juhtuda, et lõplik võimalik ostetav Bitcoini hulk valitud Euro summa eest erineb siin näidatust."
                            title="Tegu on ligikaudse hulgaga"></i></span>
                    </h1>
            </div>
        </div>
    </div>
</div>

</div>
