.well {
    background: @white;
}
.btn {
    border: none;
	box-shadow: inset 0 -2px 0 rgba(red(@black), green(@black), blue(@black), 0.3);
	-moz-box-shadow: inset 0 -2px 0 rgba(red(@black), green(@black), blue(@black), 0.3);
	-webkit-box-shadow: inset 0 -2px 0 rgba(red(@black), green(@black), blue(@black), 0.3);
}
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*
 * BOOTSTRAP TOOLTIP
 */
.tooltip-inner {
    padding: 8px 10px;
    font-family:@font-family-sans-serif;
    font-weight:300;
    font-size: 1.2em;
    border-radius: 3px;
}

#content {
	padding:10px 10px;
	padding-bottom: 45px;
	position:relative;
	left:0px;
}

#left-panel {
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
    width: 135px;
    transition: width 0.1s linear, left 0.1s ease-out 0s;
}

.minified #left-panel {
}

#header {
    padding: 0;
    overflow: hidden;

    & > div {
        display: block;
        float: none;
    }
}

.header-dropdown-list > li > .dropdown-toggle {
    margin-top: 10px;
}

.smart-style-2 {
    #header, #footer {
        background-color: #FFFFFF;
    }

    aside {
        background: none !important;
        background-color: #FFF !important;
    }

    .header-dropdown-list a.dropdown-toggle {
        color: #FFFFFF;

        &:hover, &:focus {
            color: #33b5e5;
            text-decoration: none;
        }
        &:active {
            color: #0092b7;
            text-decoration: none;
        }
    }

    &.minified aside nav > ul > li {
        border: none;
        padding: 0;

        a i {
            font-size: 14px !important;
            line-height: @line-height-base;
        }
    }

    aside nav ul {
        & li.open > a, .active > a {
            color: #007c9c !important;
        }

        li:first-child a {
                border-top: none;
        }

        li a {
            border-bottom: 1px solid #EEE;
            padding: 9px 0px;
            line-height: @line-height-base;

            font-size: 14px !important;
            i {
                // display: none !important;
                font-size: 14px !important;
            }

            &:hover {
                color: #0092b7 !important;
            }
            &:active {
                color: #007c9c !important;
            }

        }
    }

    #left-panel {
        padding: 0;
        box-shadow: 0 !important;
    }
}

#header-small-container {
    nav ul {
        margin-top: 11px;
        margin-left: 0;
        width: auto;
        line-height: @line-height-base;
        cursor: default;

        li a {
            font-size: 12px !important;
            color: #FFFFFF !important;

            &:hover {
                color: #33b5e5 !important;
            }

            &:focus {
                color: #FFFFFF !important;
                background: none !important;
            }
            &:active {
                color: #0092b7 !important;
                background: none !important;
            }
        }

        & > li {
            border: none;
            overflow: visible;

            &:first-child {
                padding-left: 0;
            }

            & > a {
                padding: 0;
            }
        }
    }
    .nav > li {
        display: inline-block;
    }
}

#footer {

    #footer-logo-wrapper {
        margin-top: 2px;
        padding-right: 30px !important;
    }
    #logo {
        width: 91px;
        margin-top: 0px;
        margin-left: 0px;

        img {
            width:91px;
            height:auto;
            padding-left:0px;
        }
    }
    .icon_twitter {
        background: url("@{base-url}/twitter.png") no-repeat;
        display: inline-block;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .icon_facebook {
        background: url("@{base-url}/facebook.png") no-repeat;
        display: inline-block;
        height: 25px;
        width: 25px;
    }

    .pull-right {
        margin-top: 2px;
    }

    font-size: 11px !important;
    color: #007c9c;
    height: 44px;
	position:fixed;
	width:100%;
	z-index: @left-panel-zindex+1;
	bottom:0px;

    .container {
        padding: 0 10px !important;
    }

    .footer-nav-separator {
        font-size: 13px;
    }
    nav ul {
        margin-top: 8px;
        margin-left: 0;
        width: auto;
        line-height: @line-height-base;
        cursor: default;

        li a {
            font-size: 11px !important;
            color: #007c9c !important;

            &:hover {
                color: #33b5e5 !important;
            }

            &:focus {
                color: #007c9c !important;
                background: none !important;
            }
            &:active {
                color: #0092b7 !important;
                background: none !important;
            }
        }

        & > li {
            border: none;
            overflow: visible;

            &:first-child {
                padding-left: 0;
            }

            & > a {
                padding: 0;
            }
        }
    }
    .nav > li {
        display: inline-block;
    }
}

body.smart-style-2 {
    background-color: #294557;
}

html {
    background: none;
}

.fixed-header #header {
    box-shadow: none;
    border-bottom: 10px solid #EEEEEE;
}
.fixed-header #footer {
    box-shadow: none;
    border-top: 10px solid #EEEEEE;
}

#logo-group > span {
	height: @smart-navbar-height - 60;
}

#logo {
	width: 233px;
	margin-top: 20px;
	margin-left: 0px;

    img {
        width:233px;
        height:auto;
        padding-left:0px;
    }
}

.jarviswidget {
    margin: 0 0 10px;
}

aside nav ul li a {
    font-size: 16px !important;
    text-align: center;
    height: 38px;

    & .fa.fa-fw {
        width: auto;
    }
}

.minified aside nav ul li a {

    text-align: left;

    padding: 9px 0px !important;

    i {
        display: block !important;
    }

    .menu-item-parent {
        background-color: #FFF;
        color: inherit !important;
        padding-right: 12px;
        border-bottom: 1px solid #BFBFBF;
        border-top: 1px solid #BFBFBF;
    }
}

.minified .minifyme .fa:before {
	content:"\f105";
}

.minified .minifyme {
    margin-top: 5px;
    height: 28px !important;
    font-size: 19px !important;
}

.minifyme {
    background-color: #99cc00 !important;
    color: white !important;
    border-bottom: 1px solid #82ae00 !important;
    transition: none;

    &:hover {
        background-color: #82ae00 !important;
    }
}

aside nav ul li.active > a:before {
	content: "" !important;
}

nav ul li {
    overflow: visible;
    
}
    
#hide-menu {
    display: none;
}

#header-nav-mobile {
    display: none;
}
/*
 * GENERAL MOBILE (Applies to all resolutions below 979px)
 */
	
@media (max-width: 991px) {
}


/* MOBILE LAYOUT STARTS HERE */

/*
 * IPAD HORIZONTAL
 */
@media (min-width: 768px) and (max-width: 991px) {
}


/*
 * OTHER DEVICES
 */

@media (max-width: 767px) {

    #hide-menu {
        display: block;
    }

    #header-nav {
        display: none;
    }

    #header-nav-mobile {
        display: block;
        font-size: 1.5em;
        line-height: 1em;
        padding: 0px !important;
        margin-top: 12px !important;
        padding-left: 10px !important;
        ul {
            margin: 0px !important;

            li a {
                font-size: 1.5em;
            }
        }
        .dropdown-toggle {
            padding: 0px !important;
            margin: 0px !important;
        } 
    }
    #header-nav-lang {
        font-size: 1.5em;
        line-height: 1em;
        padding: 0px !important;
        margin-top: 12px !important;
        img {
            display: none;
        }
        ul {
            margin: 0px !important;
            li a {
                font-size: 1.5em;
            }
        }
        .dropdown-toggle {
            padding: 0px !important;
            margin: 0px !important;
        } 
    }

    .minified.hidden-menu #main {
        // margin-left: 35px !important;
        left: 35px;
        margin-left: 10px;
    }
    .minified #main {
        margin-left: 0px;
    }
	.minified #left-panel {
		left: -45px !important;
	}
    .minified.hidden-menu #left-panel {
        left: 0px !important;
    }
    
}

/*
 * ANDROID
 */
@media only screen and (min-width: 0px) and (max-width: 679px) {
}

/*
 * IPHONE
 */
@media only screen and (min-width: 320px) and (max-width: 479px) {
}
