.SEB-color {
    color: #55c30c !important;
}
.SWED-color {
    color: #ef8c36 !important;
}
.widget-body.no-padding .alert {
    padding: 8px;
    padding-top: 10px;
}
.ml7 {
    margin-left:7px;
}
.mt-3 {
    margin-top:-3px;
}
.bg-color-bbBlue {
    background-color: #0092b7 !important;
}
.margin-right-1 {
    margin-right: 1px;
}
.nowrap {
    white-space:nowrap;
}
.smart-form .tooltip {
    z-index: 1003;
}
.popover {
    color: #333;
    .popover-content {
        font-size: 13px;
    }
}
.no-float {
    float: none !important;
}
.margin-0 {
    margin: 0 !important;
}
.select-amount {
    margin-top: 20px;
    margin-bottom: 10px;

    .ribbon {
        top: -3px;
        right: 2px;
    }
    .pricing-big .panel-footer .btn {
        padding: 5px 0;
        border-radius:3px;
        font-weight:300;
        font-size:14px;
    }
    .panel {
        background: none;
    }
    .panel-heading {
        background: #99CC00;
        border-color: #99CC00;
        border-radius: 4px 4px 0 0;
    }
    .panel-title {
        text-transform: none;
        font-weight: 700;
        font-size: 18px;
        padding: 5px;
    }
    .pricing-big {
        margin-bottom: 10px;
    }
    .pricing-big .subscript {
        font-size: 16px;
        margin-left: 0px;
    }
    .panel-footer {
        border-radius: 0 0 4px 4px;
        h1 {
            font-size: 22px;
        }
    }
    .price-features {
        color: #333;
        min-height: 0;
    }
    .the-price {
        background: #FFF;
        color: #333;
    }
    .pricing-big .panel-footer {
        color: #333;
    }
//     a {
//         color: #757575;
//         text-decoration: underline;
//
//
//         &:hover, &:active {
//             color: #999999;
//             text-decoration: none;
//         }
//     }
}
.price-display {
    margin-top: 20px;

    .pricing-big .panel-footer .btn {
        padding: 5px 0;
        border-radius:3px;
        font-weight:300;
        font-size:14px;
    }
    .panel {
        background: none;
    }
    .panel-heading {
        background: #99CC00;
        border-color: #99CC00;
        border-radius: 4px 4px 0 0;
    }
    .panel-title {
        text-transform: none;
        font-weight: 300;
        font-size: 20px;
        padding: 0px;
    }
    .pricing-big {
        margin-bottom: 10px;
    }
    .pricing-big .subscript {
        font-size: 16px;
        margin-left: 0px;
    }
    .panel-footer {
        border-radius: 0 0 4px 4px;
    }
    .price-features {
        color: #333;
        min-height: 0;
        border-top: 1px solid #DDD;
    }
    .the-price {
        background: #FFF;
        color: #333;
    }
    .pricing-big .panel-footer {
        color: #333;
    }
    .pricing-big .panel-footer .btn {
        font-weight:normal;
        font-style:italic;
    }
    .pricing-big .panel-footer .btn.bg-color-orange {
        font-weight:bold;
        font-style:normal;
    }
//     a {
//         color: #757575;
//         text-decoration: underline;
//
//
//         &:hover, &:active {
//             color: #999999;
//             text-decoration: none;
//         }
//     }
}
.price-panel {
    margin-bottom: 10px;

    .panel {
        background: none;
    }
    .panel-heading {
        background: #99CC00;
        border-color: #99CC00;
        border-radius: 4px 4px 0 0;
    }
    .panel-title {
        font-weight: 300;
        font-size: 22px;
        padding: 5px;
    }
    .pricing-big {
        margin-bottom: 10px;
    }
    .pricing-big .subscript {
        font-size: 16px;
        margin-left: 0px;
    }
    .panel-footer {
        border-radius: 0 0 4px 4px;
    }
    .price-features {
        color: #333;
        min-height: 0;
    }
    .the-price {
        background: #FFF;
        color: #333;
        min-height: 143px;
        border-bottom: 1px solid #DDD;
    }
    .pricing-big .panel-footer {
        color: #333;
    }
    .pricing-big .panel-footer .btn {
        font-weight:normal;
        font-style:italic;
    }
    .pricing-big .panel-footer .btn.active {
        font-weight:bold;
        font-style:normal;
    }
//     a {
//         color: #757575;
//         text-decoration: underline;
//
//
//         &:hover, &:active {
//             color: #999999;
//             text-decoration: none;
//         }
//     }
}

.smart-form .popover-title {
    padding: 8px 14px;
}
.smart-form .popover-content {
    padding: 9px 14px;
}
.smart-form .note a {
    font-size: 11px;
    color: #999999 !important;
}
#locked-modal-login-form {
    footer {
        padding: 0px !important;
    }
}

.locked-modal-btn {
    margin-bottom: 4px;
    &:hover {
        .fa-lock:before {
            content:"\f13e";
        }
    }
}
.air-top-right {
    top: 15px;
    right: 20px;
    color: #FFF;
    font-size: 52px;
    cursor: default;
}
.modal-locked .modal-header {
    background-color: #3B9FF3;
    color:  #FFF;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px; 
}
.modal-locked .modal-content { 
    border: 0px;
    border-radius: 6px 6px 3px 3px; 
}
.modal-locked .modal-dialog {
    width: @modal-sm;
    margin: 30px auto;
}

.modal-idle .modal-header {
    background-color: #3B9FF3;
    color:  #FFF;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px; 
}
.modal-idle .modal-content { 
    border: 0px;
    border-radius: 6px 6px 3px 3px; 
}

.progress-bar-idle {
  background-color: #82AE00;
}
.progress-idle {
  margin-bottom: 20px;
}
.SmallBox {
    border: none;
    border-left: 5px solid rgba(0, 0, 0, 0.15);
}
.SmallBox:hover {
    box-shadow: 0px 0px 10px #CCC;
    border: none;
    border-left: 5px solid rgba(0, 0, 0, 0.15);
}
.progress {
    box-shadow: none;
}
.modal-na, .modal-tos {
    a {
        color: #757575;
        text-decoration: underline;


        &:hover, &:active {
            color: #999999;
            text-decoration: none;
        }
    }
}
.fixed-header #header {
	z-index: @left-panel-zindex+4;
} 
.smart-form .checkbox input + i:after {
    content: '\f00c';
    color: #82AE00;
}
.smart-form .radio input:checked + i, .smart-form .checkbox input:checked + i, .smart-form .toggle input:checked + i {
    border-color: #82AE00 !important;
}

.smart-form .checkbox input:checked:hover + i:after {
    content: '\f00c';
    color: #82AE00;
}

.smart-form .checkbox input:checked:disabled:hover + i:after {
    content: '\f00c';
    color: #82AE00;
}
.smart-form .checkbox {
    color: #757575;
}
.smart-form .row {
    margin: 0;
}
.smart-form .col {
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.smart-form .col-2sbs {
    width: 49%;
}
.smart-form .col-2spacer {
    width: 2%;
}
.smart-form .col-3sbs {
    width: 32%;
}
.smart-form .col-3spacer {
    width: 2%;
}
.smart-form fieldset + fieldset {
    border-top: none;
}
.smart-form .btn {
    padding: 6px 12px;
    float: right;
}
.smart-form .btn-labeled {padding-top: 0;padding-bottom: 0;}

.smart-form footer {
    padding: 7px 0px 0px;
    border-top: none;
    background: none;
}
.login-validation {
    /*
     * normal state
     */
    #firstname-required-note,
    #lastname-required-note,
    #deposit-amount-required-note,
    #password-weak-note,
    #password-required-note,
    #reset-password-weak-note,
    #reset-password-required-note,
    #email-match-note,
    #email-required-note,
    #email-valid-note,
    #forgot-email-valid-note,
    #forgot-email-required-note,
    #login-email-valid-note,
    #login-email-required-note,
    #login-password-required-note,
    #activation-code-required-note,
    #activation-code-valid-note,
    #pw-confirm-code-required-note,
    #pw-confirm-code-valid-note {
        display: none;
    }

    .smart-form #firstname-required-note.ng-invalid-required,
    .smart-form #lastname-required-note.ng-invalid-required,
    .smart-form #deposit-amount-required-note.ng-invalid-required,
    .smart-form #password-required-note.ng-invalid-required,
    .smart-form #password-weak-note.ng-invalid-validator,
    .smart-form #reset-password-required-note.ng-invalid-required,
    .smart-form #reset-password-weak-note.ng-invalid-validator,
    .smart-form #email-match-note.ng-invalid-validator,
    .smart-form #email-required-note.ng-invalid-required,
    .smart-form #email-valid-note.ng-invalid-email,
    .smart-form #forgot-email-valid-note.ng-invalid-email,
    .smart-form #forgot-email-required-note.ng-invalid-required,
    .smart-form #login-email-valid-note.ng-invalid-email,
    .smart-form #login-email-required-note.ng-invalid-required,
    .smart-form #activation-code-required-note.ng-invalid-required,
    .smart-form #activation-code-valid-note.ng-invalid-number,
    .smart-form #login-password-required-note.ng-invalid-required,
    .smart-form #pw-confirm-code-required-note.ng-invalid-required,
    .smart-form #pw-confirm-code-valid-note.ng-invalid-number {
        display: block;
    }
    .smart-form input.has-visited.ng-invalid:not(.has-focus) {
        border-color: #FF0000;
        &:hover {
            border-color: #FF0000;
        }
        &:focus {
            border-color: #FF0000;
        }
    }
    .smart-form input.has-visited.ng-valid:not(.has-focus) {
        border-color: #82AE00;
        &:hover {
            border-color: #82AE00;
        }
        &:focus {
            border-color: #82AE00;
        }
    }
    .smart-form #password.ng-invalid.ng-dirty, .smart-form #email.ng-invalid.ng-dirty {
        border-color: #FF0000;
        &:hover {
            border-color: #FF0000;
        }
        &:focus {
            border-color: #FF0000;
        }
    }
    .smart-form #password.ng-valid.ng-dirty, .smart-form #email.ng-valid.ng-dirty {
        border-color: #82AE00;
        &:hover {
            border-color: #82AE00;
        }
        &:focus {
            border-color: #82AE00;
        }
    }
}
#register-tab {
    /*
     * normal state
     */
    #firstname-required-note,
    #lastname-required-note,
    #password-weak-note,
    #password-required-note,
    #email-match-note,
    #email-required-note,
    #email-valid-note {
        display: none;
    }

    .smart-form #firstname-required-note.ng-invalid-required,
    .smart-form #lastname-required-note.ng-invalid-required,
    .smart-form #password-required-note.ng-invalid-required,
    .smart-form #password-weak-note.ng-invalid-validator,
    .smart-form #email-match-note.ng-invalid-validator,
    .smart-form #email-required-note.ng-invalid-required,
    .smart-form #email-valid-note.ng-invalid-email {
        display: block;
    }
    .smart-form input.has-visited.ng-invalid:not(.has-focus) {
        border-color: #FF0000;
        &:hover {
            border-color: #FF0000;
        }
        &:focus {
            border-color: #FF0000;
        }
    }
    .smart-form input.has-visited.ng-valid:not(.has-focus) {
        border-color: #82AE00;
        &:hover {
            border-color: #82AE00;
        }
        &:focus {
            border-color: #82AE00;
        }
    }
    .smart-form #password.ng-invalid.ng-dirty, .smart-form #email.ng-invalid.ng-dirty {
        border-color: #FF0000;
        &:hover {
            border-color: #FF0000;
        }
        &:focus {
            border-color: #FF0000;
        }
    }
    .smart-form #password.ng-valid.ng-dirty, .smart-form #email.ng-valid.ng-dirty {
        border-color: #82AE00;
        &:hover {
            border-color: #82AE00;
        }
        &:focus {
            border-color: #82AE00;
        }
    }
}
/*
 * hover state
 */
.smart-form .input:hover input, .smart-form .select:hover select, .smart-form .textarea:hover textarea, .smart-form .radio:hover i, .smart-form .checkbox:hover i, .smart-form .toggle:hover i {
    border-color: #33B5E5;
}
/*
 * focus state
 */
.smart-form .input input:focus, .smart-form .select select:focus, .smart-form .textarea textarea:focus, .smart-form .radio input:focus + i, .smart-form .checkbox input:focus + i, .smart-form .toggle input:focus + i {
    border-color: #0092B7;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 0px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font-size: 13px !important;
    font-family:@font-family-sans-serif !important;
    color: #757575;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.smart-form fieldset {
    padding: 0;
    background: none;
}
.smart-form .label {
    color: #757575 !important;
}
.xAxis, .yAxis {
    color: #FFF !important;
}
.form-control-focus() {
  &:focus {
      background-color: rgba(255, 255, 255, 0.4);
  }
}
.input-group-addon {
    border: 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0px solid @input-border;
  border-radius: @input-border-radius;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"background-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

.wizard-step-text {
    margin-left: 6px;
}
.fuelux .wizard {
    border: none;
    background-color: #99CC00;
}
.fuelux .wizard ul li {
  cursor: pointer;
  color: #FFF;
  background: #82ae00;
  font-size: 13px;
  font-weight: 600;
  padding: 0 10px 0 30px;
}
.fuelux .wizard ul li .chevron:before {
  border-left: 14px solid #82ae00;
}
.fuelux .wizard ul li .chevron {
  border-left: 14px solid #6c9000;
}
.fuelux .wizard ul li.complete {
  color: #FFF;
  background: #96BF48;
}

.fuelux .wizard ul li.complete:hover {
  cursor: pointer;
  background: #82ae00;
}

.fuelux .wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #82ae00;
}

.fuelux .wizard ul li.complete .chevron:before {
  border-left: 14px solid #96BF48;
}
.fuelux .wizard ul li.active {
  color: #FFF;
  background: #99CC00;
}
.fuelux .wizard ul li .badge {
    background-color: #333;
    margin-right: 0;
}
.fuelux .wizard ul li.active .chevron:before {
  border-left: 14px solid #99CC00;
}

h2 small {
    color: #FFF !important;
}
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
      color: @color;
      background-color: lighten(@background, 8%);
      border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

#main {
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.well.well-glass {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border-color:transparent;
	background-color:rgba(41, 69, 87, 0.9) !important;
	color:@white;
}
.well {
    background: @white;
    margin-bottom: 10px;
    color: #333;
}
.btn {
    border: none;
}
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*
 * BOOTSTRAP TOOLTIP
 */

.smart-form .tooltip {
    font-family:@font-family-sans-serif;
    font-weight:300;
    border-radius: 3px;
    background-color: @tooltip-bg;
    border: 0;
    color: @tooltip-color;
}

#flotTip {
    padding: 8px 10px;
    font-family:@font-family-sans-serif;
    font-weight:300;
    font-size: 1.2em;
    border-radius: 3px;
    background-color: @tooltip-bg;
    border: 0;
    color: @tooltip-color;
    span {
        color: #99CC00;
    }
    z-index: 2005;
}

.tooltip-inner {
    padding: 8px 10px;
    font-family:@font-family-sans-serif;
    font-weight:300;
    font-size: 1.2em;
    border-radius: 3px;
}

#content {
	padding:10px 10px;
	padding-bottom: 40px;
	position:relative;
	left:0px;
}

#left-panel {
    border: 0;
    width: 135px;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.minified #left-panel {
}

#header {
    padding: 0;
   -webkit-transform: translateZ(0); 

   -moz-transition: all .1s ease-out;
   -ms-transition: all .1s ease-out;
   -o-transition: all .1s ease-out;
   -webkit-transition: all .1s ease-out;
   transition: all .1s ease-out;

    & > div {
        display: block;
        float: none;
    }
}

.header-dropdown-list > li > .dropdown-toggle {
    margin-top: 10px;
}

.smart-style-2 {
    #header, #footer {
        background-color: #FFFFFF;
    }

    aside {
        background: none !important;
        background-color: rgba(41, 69, 87, 0.9) !important;
    }

    .header-dropdown-list a.dropdown-toggle {
        color: #FFFFFF;

        &:hover, &:focus {
            color: lighten(#99CC00, 5%) !important;
            text-decoration: none;
        }
        &:active {
            color: #EEE;
            text-decoration: none;
        }
    }

    &.minified aside nav > ul > li {
        border: none;
        padding: 0;

        a i {
            font-size: 14px !important;
            line-height: @line-height-base;
        }
    }

    aside nav ul {
        li a {
            color: #FFF !important;
        }
        & li.open > a, .active > a {
            background: none repeat scroll 0 0 rgba(156, 206, 0, 0.7) !important;
            color: #FFF !important;

            &:hover {
                background: none repeat scroll 0 0 rgba(156, 206, 0, 0.7) !important;
                color: darken(rgba(41, 69, 87, 1), 5%) !important;
            }
        }

        li:first-child a {
                border-top: none;
        }

        li a {
            border-bottom: 0px solid #EEE;
            padding: 9px 0px;
            line-height: @line-height-base;

            font-size: 14px !important;
            i {
                // display: none !important;
                font-size: 14px !important;
            }

            &:hover {
                background-color: darken(rgba(41, 69, 87, 1), 5%) !important;
                color: #FFF !important;
            }

        }
    }

    #left-panel {
        padding: 0;
        box-shadow: 0 !important;
    }
}

#header-large-container {
    padding-top: 40px !important;
}

#header-small-container {
    position: fixed !important;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: @left-panel-zindex+5;
    -webkit-transform: translateZ(0); 

    nav ul {
        margin-top: 11px;
        margin-left: 0;
        width: auto;
        line-height: @line-height-base;
        cursor: default;

        li .active {
            color: lighten(#99CC00, 5%) !important;
            font-weight: bold;
        }

        li a {
            font-size: 12px !important;
            color: #FFFFFF !important;

            &:hover {
                color: lighten(#99CC00, 5%) !important;
            }

            &:focus {
                background: none !important;
            }
            &:active {
                color: #EEE !important;
                background: none !important;
            }
        }

        & > li {
            border: none;
            overflow: visible;

            &:first-child {
                padding-left: 0;
            }

            & > a {
                padding: 0;
            }
        }
    }
    .nav > li {
        display: inline-block;
    }
}

#footer {

    -webkit-transform: translateZ(0); 
    font-size: 11px !important;
    color: #007c9c;
    height: 40px;
    position:fixed;
    width:100%;
    z-index: @left-panel-zindex+2;
    bottom:0px;

    #footer-logo-wrapper {
        margin-top: 2px;
        padding-right: 12px;
    }
    #logo {
        width: 91px;
        margin-top: 0px;
        margin-left: 0px;

        img {
            width:91px;
            height:auto;
            padding-left:0px;
        }
    }
    .icon_twitter {
        background: url("@{base-url}/twitter.png") no-repeat;
        display: inline-block;
        height: 25px;
        width: 25px;
        margin-right: 6px;
    }
    .icon_facebook {
        background: url("@{base-url}/facebook.png") no-repeat;
        display: inline-block;
        height: 25px;
        width: 25px;
    }

    .pull-right {
        margin-top: 2px;
    }

    .container {
        padding: 0 10px !important;
    }

    .footer-nav-separator {
        font-size: 13px;
    }
                    
    nav ul {
        margin-top: 7px;
        margin-left: 0;
        width: auto;
        line-height: @line-height-base;
        cursor: default;

        li .active {
            font-weight: bold;
            &:hover {
                color: #007C9C !important;
            }

            i {
                color: #33B5E5; 
            }
        }
        li a {
            font-size: 11px !important;
            color: #007c9c !important;

            &:hover {
                color: #33b5e5 !important;
            }

            &:focus {
                background: none !important;
            }
            &:active {
                color: #0092b7 !important;
                background: none !important;
            }

            i {
                font-size: 14px !important;
                margin: 0px;
                width: (18em / 14);
            }
        }

        & > li {
            border: none;
            overflow: visible;

            &:first-child {
                padding-left: 0;
            }

            & > a {
                padding: 0;
            }
        }
    }
    .nav > li {
        display: inline-block;
    }
}

body.smart-style-2 {
    background-color: darken(#294557, 5%) !important;
}

html {
    background: none;
}

.fixed-header #header {
    box-shadow: none;
    border-bottom: 10px solid #EEEEEE;
}
.fixed-header #footer {
    box-shadow: none;
    border-top: 7px solid #EEEEEE;
}

#logo-group > span {
	height: @smart-navbar-height - 60;
}

#logo {
	width: 233px;
	margin-top: 20px;
	margin-left: 0px;

    img {
        width:233px;
        height:auto;
        padding-left:0px;
    }
}

.jarviswidget header .nav-tabs>li.active>a, .jarviswidget header .nav-tabs>li.active>a:hover, .jarviswidget header .nav-tabs>li.active>a:focus {
    color: #FFF !important;
    background-color: rgba(41, 69, 87, 0.9) !important;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    border: 0px;
    border-bottom-color: transparent;
    border-top:none;
    cursor: default;
    margin-top: 1px !important;
    height: 33px;
}
.jarviswidget header .nav-tabs>li>a {
    color: #FFF !important;
    border: 0px;
    border-bottom-color: transparent;
    border-top:none;
    margin-top: 1px !important;
    margin-right: 0px;
}


.jarviswidget header .nav-tabs>li>a:hover, .jarviswidget header .nav-tabs>li>a:focus {
    color: #FFF !important;
    background-color: rgba(41, 69, 87, 0.5) !important;
    box-shadow: 0 -1px 0 rgba(41, 69, 87, 0,5);
    border: 0px;
    border-bottom-color: transparent;
    border-top:none;
    margin-top: 1px !important;
    height: 33px;
}

.widget-footer {
    display: block;
    min-height: 32px;
    vertical-align:middle;
    position: relative;
    background: rgba(255, 255, 255, 0.1) !important;
    padding: 5px;
    border-top: 0;
    text-align:right;
    margin: 0px -13px -13px;
}

/* deposit theme */
.jarviswidget-color-deposit > header {
    background: #FFF !important;
    color: #333;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
}

.jarviswidget-color-deposit > header > .jarviswidget-ctrls a, .jarviswidget-color-deposit .nav-tabs li:not(.active) a  {
    color:#333 !important;
}

.jarviswidget-color-deposit .nav-tabs li a:hover {
    color:#333 !important;
}

.jarviswidget-color-deposit > header {
    border: 0;
}
.jarviswidget-color-deposit > header > h2, .jarviswidget-color-deposit > header > i {
    float: none;
    margin: 0;
    top: -2px;
}
.jarviswidget-color-deposit > div {
    color: #333;
    background-color: white !important;
    border: 0;
}
/* seb theme */
.jarviswidget-color-seb > header {
    background: #55c30c !important;
    color: #FFF;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
}

.jarviswidget-color-seb > header > .jarviswidget-ctrls a, .jarviswidget-color-seb .nav-tabs li:not(.active) a  {
    color:#fff !important;
}

.jarviswidget-color-seb .nav-tabs li a:hover {
    color:#333 !important;
}

.jarviswidget-color-seb > header {
    border: 0;
}
.jarviswidget-color-seb > header > h2 {
    float: none;
    margin: 0;
    top: -2px;
}
.jarviswidget-color-seb > div {
    color: #333;
    background-color: white !important;
    border: 0;
}

/* default theme */
.jarviswidget-color-default > header {
    background: rgba(156, 206, 0, 0.7) !important;
    color: #FFF;
}

.jarviswidget-color-default > header > .jarviswidget-ctrls a, .jarviswidget-color-default .nav-tabs li:not(.active) a  {
    color:#fff !important;
}

.jarviswidget-color-default .nav-tabs li a:hover {
    color:#333 !important;
}

.jarviswidget-color-default > header {
    border: 0;
}
.jarviswidget-color-default > div {
    color: #FFF;
    background-color: rgba(41, 69, 87, 0.9) !important;
    border: 0;
}

.jarviswidget {
    margin: 0 0 10px;
}
.jarviswidget-placeholder {
    margin: 0 0 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.25) !important;
}

aside nav ul li a {
    font-size: 16px !important;
    text-align: center;
    height: 38px;

    & .fa.fa-fw {
        width: auto;
    }
}

.minified aside nav ul li a {

    text-align: left;

    padding: 9px 0px !important;

    i {
        display: block !important;
    }

    .menu-item-parent {
        background-color: darken(rgba(41, 69, 87, 1), 5%) !important;
        color: inherit !important;
        left: 45px !important;
        padding-right: 12px;
        border: none;
        top: 0px;
        z-index: 2000 !important;

        &:hover {
            display: none !important;
        z-index: 20000 !important;
        }
    }
}
.minified aside nav ul .active a {

    .menu-item-parent {
        background: none repeat scroll 0 0 rgba(156, 206, 0, 0.7) !important;
        color: darken(rgba(41, 69, 87, 1), 5%) !important;
        border: none;
        top: 0px;
    }
}

.minified .minifyme .fa:before {
	content:"\f065";
}

.minified .minifyme {
    margin-top: 5px;
    height: 28px !important;
    font-size: 19px !important;
}

.minifyme {
    background-color: #99cc00 !important;
    color: white !important;
    border-bottom: 1px solid #82ae00 !important;
    transition: none;

    &:hover {
        background-color: #82ae00 !important;
    }
}

aside nav ul li.active > a:before {
	content: "" !important;
}

nav ul li {
   -webkit-transform: translateZ(0); 
}
    
#hide-menu {
    display: none;
}

#header-nav-mobile {
    display: none;
}
#user-lock {
    margin-left: 2px;

    &:hover.fa-unlock-o:before {
        content:"\f023";
    }
}
#user-logout {
    margin-left: 2px;
}
#user-logout, #user-lock {
    cursor: pointer;

    &:hover {
        color: #33b5e5 !important;
    }
    &:active {
        color: #0092b7 !important;
    }
}
#user-lock-mobile {
    cursor: pointer;

    &:hover.fa-unlock-o:before {
        content:"\f023";
    }
    &:hover {
        color: lighten(#99CC00, 5%) !important;
    }
    &:active {
        color: #EEE !important;
    }
}
#user-logout-mobile {
    color: #fff;
    display: none;
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 10px !important;
    margin-right: 6px;
    cursor: pointer;

    &:hover {
        color: lighten(#99CC00, 5%) !important;
    }
    &:active {
        color: #EEE !important;
    }
}
#user-login-mobile {
    display: none;
    font-size: 1.5em;
}
#hide-menu-mobile {
    display: none;
    font-size: 1.5em;
    a {
        margin-top: 9px !important;
        color: #FFF !important;

        &:hover  {
            color: lighten(#99CC00, 5%) !important;
        }
        &:active {
            color: #333 !important;
        }
    }
}
.hidden-menu {
    #hide-menu-mobile {
        a {
            color: #69737A !important;

        }
    }
}
/*
 * GENERAL MOBILE (Applies to all resolutions below 979px)
 */
	
@media (max-width: 1170px) {
    .jumbotron h1 {
        font-size: 40px;
    }
}


/* MOBILE LAYOUT STARTS HERE */

/*
 * IPAD HORIZONTAL
 */
@media (min-width: 768px) and (max-width: 991px) {

    .jumbotron h1 {
        font-size: 30px;
    }
    #price-group {
        margin-left: 1.5em;
        font-size: 20px;
        margin-top: 28px;

        #price-labels {
            margin-top: 24px;
            margin-left: 4px;

            .label {
                font-size: 9px;
                font-weight: 600;
                width: 38px;
            }
        }
        
        #price-heading {
            font-size: 9px;
        }
        
        #price-status-circle {
            margin-top: 25px !important;
            margin-right: 3px;

            .status-circle {
                height: 8px;
                width: 8px;
            }
        }
    }

}


/*
 * OTHER DEVICES
 */

@media (max-width: 767px) {


    .minified nav > ul > li:hover > a > .menu-item-parent, .minified nav > ul > li:hover > ul {
        display: none !important;
    }
    .btn-bottom-margin {
        margin-bottom: 2px;
    }
    #header-small-container {
        .container {
            padding: 0px 0px !important;
        }
    }
    #mobile-name-balance {
        display: block;
        .user-fullname {
            font-size: 16px !important;
        }
    }
    .user-name-balance.ng-hide-remove {
        /* remember to add this */
        display:none!important;
    }
    .smart-form .col {
        float: left;
    }
    .icon-user-header {
        margin-top: 0;
        margin-right: 0px;
        width: 0;
    }
    .login-dropdown {
        width: 300px;
        left: -300px;
        top: 10px;

        &:after {
            left: 227px;
        }
    }
    #user-container {
        position: absolute;
        right: 10px;
    }
    #activity-large {
        display: none;
    }
    .user-login-buttons.ng-hide-remove {
        display:none!important;
    }
    .user-login-buttons {
        display: none;
    }
    .user-name-balance {
        display: none;
    }
    #you-need {
        text-align: left !important;
    }
    #input-euro-button {
        width: 100% !important;
        display: block !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #header-large-container {
        height: 110px !important;
    }
    .jarviswidget-loader {
        float: none;
        margin-left: 8px;
    }
    .widget-toolbar {
        background: none repeat scroll 0 0 rgba(156, 206, 0, 0.55) !important;
        // box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
        border-left: 0;
        width: 100%;
    }
    #content {
        padding-bottom: 10px;
    }

    #price-group {
        float: right !important;
        margin-right: 28px;
        margin-left: 0.5em;
        font-size: 20px;
        margin-top: 12px;

        #price-labels {
            margin-top: 24px;
            margin-left: 2px;

            .label {
                font-size: 9px;
                font-weight: 600;
                width: 36px;
            }
        }
        
        #price-heading {
            font-size: 9px;
        }
        
        #price-status-circle {
            margin-top: 25px !important;
            margin-right: 3px;

            .status-circle {
                height: 8px;
                width: 8px;
            }
        }
    }
    #logo {
        width: 120px;
        height: 60px !important;
        margin-top: 23px;

        img {
            width: 120px;
        }
    }
    #header {
        height: 120px;
        position: relative !important;
    }
    #main {
        margin-top: 0px !important;
    }
    #left-panel {
        top: 0px;
        border-right: 1px solid #99CC00 !important;
    }
    .btn-header > :first-child > a:active {
        background-color: #EEE !important;
        color: #0092b7 !important;
    }

    .hidden-menu #hide-menu-mobile > :first-child > a {
        background: none;
        background-color: #EEE;
    }

	/* responsive menu button */
	#hide-menu > :first-child > a, .btn-header a {
		margin-top: 5px !important;
		width:22px !important;
		height: 22px !important;
		line-height: 17px !important;
	}

    #user-logout-mobile {
        display: block;
    }
    #user-login-mobile {
        display: block;
        margin-right: 5px;
        margin-top: 10px;
        margin-left: 0;
    }
    .user-login-margined {
        margin-right: 28px !important;
    }
    .hide-menu-mobile-margined {
        margin-left: 7px !important;
    }
    #hide-menu-mobile {
        display: block;
        margin-left: 10px;
    }
    #hide-menu {
        display: block;
    }

    #header-nav {
        display: none;
    }

    #footer nav ul li a i {
        font-size: 18px !important;
    }

    #footer-logo-wrapper {
        margin-top: 7px !important;
        #logo {
            display: none;
        }
    }

    #header-nav-mobile {
        display: block;
        font-size: 1.5em;
        line-height: 1em;
        padding: 0px !important;
        margin-top: 10px !important;
        padding-left: 10px !important;
        ul {
            margin: 0px !important;

            li a {
                font-size: 1.5em;
            }
        }
        .dropdown-toggle {
            padding: 0px !important;
            margin: 0px !important;
        } 
    }
    #header-nav-lang {
        width: 47px;
        font-size: 1.5em;
        line-height: 1em;
        padding: 0px !important;
        margin-top: 10px !important;
        img {
            display: none;
        }
        ul {
            margin: 0px !important;
            li a {
                font-size: 1.5em;
            }
        }
        .dropdown-toggle {
            padding: 0px !important;
            margin: 0px !important;
        } 
    }

    .minified.hidden-menu #main {
        // margin-left: 35px !important;
        left: 35px;
        margin-left: 10px;
    }
    .minified #main {
        margin-left: 0px;
    }
	.minified #left-panel {
		left: -45px !important;
	}
    .minified.hidden-menu #left-panel {
        left: 0px !important;
    }
    
}

/*
 * ANDROID
 */
@media only screen and (min-width: 0px) and (max-width: 679px) {
}

/*
 * IPHONE
 */
@media only screen and (max-width: 479px) {
    #mobile-name-balance {
        width: 125px;
    }
}

/* -----------------------------------------
Template helpers
----------------------------------------- */
/* ------------------ Sizes --------------------*/
.s12 {
    font-size: 12px !important;
}
.s16 {
    font-size: 16px !important;
}
.s20 {
    font-size: 20px !important;
}
.s24 {
    font-size: 24px !important;
}
.s32 {
    font-size: 32px !important;
}
.s64 {
    font-size: 64px !important;
}
.vat {
    vertical-align: top !important;
}
.vam {
    vertical-align: middle !important;
}
.vab {
    vertical-align: bottom !important;
}
/* ------------------ Margins --------------------*/
.row.no-padding {
    margin-left: 0;
    margin-right: 0;
}
.row.no-padding [class^="col-"] {
    padding: 0;
}
.m0 {
    margin: 0 !important;
}
.m5 {
    margin: 5px !important;
}
.m10 {
    margin: 10px !important;
}
.m15 {
    margin: 15px !important;
}
.m20 {
    margin: 20px !important;
}
.m25 {
    margin: 25px !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mr0 {
    margin-right: 0 !important;
}
.mr5 {
    margin-right: 5px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.ml0 {
    margin-left: 0 !important;
}
.ml5 {
    margin-left: 5px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml25 {
    margin-left: 25px !important;
}
/* ------------------ Paddings --------------------*/
.p0 {
    padding: 0 !important;
}
.p5 {
    padding: 5px !important;
}
.p10 {
    padding: 10px !important;
}
.p15 {
    padding: 15px !important;
}
.p20 {
    padding: 20px !important;
}
.p25 {
    padding: 25px !important;
}
.pt0 {
    padding-top: 0 !important;
}
.pt5 {
    padding-top: 5px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pr0 {
    padding-right: 0 !important;
}
.pr5 {
    padding-right: 5px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pr15 {
    padding-right: 15px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pr25 {
    padding-right: 25px !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pb5 {
    padding-bottom: 5px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}
.pl0 {
    padding-left: 0 !important;
}
.pl5 {
    padding-left: 5px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.pl19 {
    padding-left: 19px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl25 {
    padding-left: 25px !important;
}
/* ------------------ Percent widths --------------------*/
.per5 {
    width: 5% !important;
}
.per10 {
    width: 10% !important;
}
.per15 {
    width: 15% !important;
}
.per20 {
    width: 20% !important;
}
.per25 {
    width: 25% !important;
}
.per30 {
    width: 30% !important;
}
.per35 {
    width: 35% !important;
}
.per40 {
    width: 40% !important;
}
.per45 {
    width: 45% !important;
}
.per50 {
    width: 50% !important;
}
.per55 {
    width: 55% !important;
}
.per60 {
    width: 60% !important;
}
.per65 {
    width: 65% !important;
}
.per70 {
    width: 70% !important;
}
.per75 {
    width: 75% !important;
}
.per80 {
    width: 80% !important;
}
.per85 {
    width: 85% !important;
}
.per90 {
    width: 90% !important;
}
.per95 {
    width: 95% !important;
}
.per100 {
    width: 100% !important;
}
/* ------------------ Borders --------------------*/
.b {
    border: 1px solid #e7e7e2;
}
.bt {
    border-top: 1px solid #e7e7e2;
}
.br {
    border-right: 1px solid #e7e7e2;
}
.bb {
    border-bottom: 1px solid #e7e7e2;
}
.bl {
    border-left: 1px solid #e7e7e2;
}
.btlr {
    border-top-left-radius: 4px;
}
.btrr {
    border-top-right-radius: 4px;
}
.bblr {
    border-bottom-left-radius: 4px;
}
.bbrr {
    border-bottom-right-radius: 4px;
}
.brall {
    border-radius: 4px;
}
.bn {
    box-shadow: none;
    border: none !important;
}
/* ------------------ Colors --------------------*/
.color-red {
    color: #f68484 !important;
}
.color-blue {
    color: #75b9e6 !important;
}
.color-green {
    color: #71d398 !important;
}
.color-yellow {
    color: #ffcc66 !important;
}
.color-orange {
    color: #f4b162 !important;
}
.color-white {
    color: #ffffff !important;
}
.color-teal {
    color: #97d3c5 !important;
}
.color-dark {
    color: #79859b !important;
}
.color-pink {
    color: #f78db8 !important;
}
.color-lime {
    color: #a8db43 !important;
}
.color-magenta {
    color: #e65097 !important;
}
.color-purple {
    color: #af91e1 !important;
}
.color-brown {
    color: #d1b993 !important;
}
.color-gray {
    color: #555555 !important;
}
.color-grayspr {
    color: #f3f5f6 !important;
}
/* ------------------ Backgrounds --------------------*/
.white-bg {
    color: #768399;
    background-color: #ffffff;
}
.red-bg {
    color: #ffffff;
    background-color: #f68484;
}
.blue-bg {
    color: #ffffff;
    background-color: #75b9e6;
}
.green-bg {
    color: #ffffff;
    background-color: #71d398;
}
.yellow-bg {
    color: #ffffff;
    background-color: #ffcc66;
}
.orange-bg {
    color: #ffffff;
    background-color: #f4b162;
}
.purple-bg {
    color: #ffffff;
    background-color: #af91e1;
}
.pink-bg {
    color: #ffffff;
    background-color: #f78db8;
}
.lime-bg {
    color: #ffffff;
    background-color: #a8db43;
}
.magenta-bg {
    color: #ffffff;
    background-color: #e65097;
}
.teal-bg {
    color: #ffffff;
    background-color: #97d3c5;
}
.brown-bg {
    color: #ffffff;
    background-color: #d1b993;
}
.gray-bg {
    color: #768399;
    background-color: #e4e9eb;
}
.dark-bg {
    color: #ffffff;
    background-color: #79859b;
}
.bb-green-bg {
    color: #ffffff;
    background-color: #99CC00;
}
/* ------------------ Opacity --------------------*/
.opacity {
    opacity: 1 !important;
}
.opacity0 {
    opacity: 0 !important;
}
/* ------------------ Typo --------------------*/
.strong {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.normal {
    font-weight: normal;
}
/* ------------------ Positions --------------------*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
