<div class="modal-header">
    <h4> <strong>{{identity.currentUser.firstName + " " + identity.currentUser.lastName}} </strong> </h4> 
   {{identity.currentUser.username}} 
   <i class="fa fa-lock air air-top-right"></i>
</div>
<div class="modal-body">
<form novalidate="novalidate" id="locked-modal-login-form" class="smart-form ng-valid ng-dirty">
            <fieldset>
                <section>
                <label class="label">Parool</label>
                <label class="input">
                    <i class="icon-append fa fa-key"></i>
                    <input type="password" data-ng-model="password" data-ng-disabled="isLoginButtonDisabled" class="ng-valid ng-dirty" style="">
                    <b class="tooltip tooltip-top-right">
                        <i class="fa fa-key"></i> Palun sisestage enda parool
                    </b>
                </label>
                </section>
            </fieldset>

            <footer>
            <button data-ng-disabled="isLoginButtonDisabled" data-ng-click="signin( identity.currentUser.username, password )" class="locked-modal-btn btn btn-block btn-success">
                <i class="fa fa-lock"></i>
                Taasta juurdepääs
            </button>
            </footer>
        </form>
    <div class="text-align-center">
        <a href="" data-ng-click="$close( logoutUser( false ) )" class="btn btn-block btn-warning">
            <i class="fa fa-sign-out"></i>
            Logi välja
        </a>
    </div>
</div>
