<!-- BEGIN LOGIN DROPDOWN BUTTONS -->
<div data-toggle="buttons" class="btn-group btn-group-justified">
    <a href="" data-ng-click="bbLoginDropdownSvc.activateTab('login')" data-ng-class="{active: bbLoginDropdownSvc.activeDropdownTab === 'login'}" class="btn btn-success" data-toggle="tab">
        <input type="radio">
        <i class="fa fa-sign-in"></i>
    </a>
    <a href="" data-ng-click="bbLoginDropdownSvc.activateTab('register')" data-ng-class="{active: bbLoginDropdownSvc.activeDropdownTab === 'register'}" class="btn btn-success" data-toggle="tab">
        <input type="radio">
        <i class="fa fa-pencil"></i>
    </a>
    <a href="" data-ng-click="bbLoginDropdownSvc.activateTab('forgot')" data-ng-class="{active: bbLoginDropdownSvc.activeDropdownTab === 'forgot'}" class="btn btn-success" data-toggle="tab">
        <input type="radio">
        <i class="fa fa-question-circle"></i>
    </a>
</div>
<!-- END LOGIN DROPDOWN BUTTONS -->

<!-- BEGIN LOGIN DROPDOWN CONTENT-->
<div class="login-dropdown-content custom-scroll tab-content">

    <!-- BEGIN LOGIN TAB -->
    <div id="login-tab" data-ng-show="bbLoginDropdownSvc.activeDropdownTab === 'login'">
        <button aria-hidden="true" data-ng-click="bbLoginDropdownSvc.toggleDropdown()"  class="close" type="button">
            ×
        </button>
        <header>
        <h4>Logi sisse</h4>
        </header>
        <form class="smart-form" id="login-form" novalidate="novalidate">

            <fieldset>
                <section>
                <label class="label">E-mail</label>
                <label class="input">
                    <i class="icon-append fa fa-envelope"></i>
                    <input data-ng-disabled="isLoginButtonDisabled" data-ng-model="username">
                    <b class="tooltip tooltip-top-right">
                        <i class="fa fa-envelope"></i> Palun sisestage enda e-mail
                    </b>
                </label>
                </section>

                <section>
                <label class="label">Parool</label>
                <label class="input">
                    <i class="icon-append fa fa-key"></i>
                    <input type="password" data-ng-disabled="isLoginButtonDisabled" data-ng-model="password">
                    <b class="tooltip tooltip-top-right">
                        <i class="fa fa-key"></i> Palun sisestage enda parool
                    </b>
                </label>
                <div class="note">
                    Ärge kunagi sisestage enda parooli seadmesse, mida te täielikult ei usalda. Ärge logige enda kasutajasse jagatud või avalikust arvutist.
                </div>
                </section>
            </fieldset>

            <footer>
            <button class="btn btn-labeled btn-success" data-ng-disabled="isLoginButtonDisabled" data-ng-click="signin( username, password )">
                <span class="btn-label">
                    <i class="fa" data-ng-class="{ 'fa-sign-in' : !isLoginButtonDisabled, 'fa-refresh fa-spin' : isLoginButtonDisabled  }"></i>
                </span>
                Logi sisse
            </button>
            </footer>

        </form>

    </div>
    <!-- END LOGIN TAB -->

    <!-- BEGIN REGISTER TAB -->
    <div data-ng-show="bbLoginDropdownSvc.activeDropdownTab === 'register'" id="register-tab">

        <button aria-hidden="true" data-ng-click="bbLoginDropdownSvc.toggleDropdown()"  class="close" type="button">
            ×
        </button>
        <header>
        <h4>Registreeru</h4>
        </header>

        <form class="smart-form" id="register-form" action="" novalidate="novalidate">

            <fieldset>
                <section>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                    <input type="email" placeholder="E-mail" name="email">
                    <b class="tooltip tooltip-bottom-right">Kasutatakse kinnitusteks ja autentimiseks</b> 
                </label>
                </section>

                <section>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                    <input type="email" placeholder="Sisestage e-mail uuesti" name="email">
                    <b class="tooltip tooltip-bottom-right">Palun kinnitage enda e-mail</b>
                </label>
                </section>

                <section>
                <label class="input"> <i class="icon-append fa fa-key"></i>
                    <input type="password" id="password" placeholder="Parool" name="password">
                    <b class="tooltip tooltip-bottom-right">Valige turvaline parool</b>
                </label>
                </section>

                <section>
                <div class="col col-2sbs">
                    <label class="input">
                        <input id="first-name" placeholder="Eesnimi" name="firstName">
                        <b class="tooltip tooltip-bottom-left">Palun veenduge sisestatud eesnime täpsuses.</b>
                    </label>
                </div>
                <div class="col col-2spacer"></div>
                <div class="col col-2sbs">
                    <label class="input">
                        <input id="last-name" placeholder="Perekonnanimi" name="lastName">
                        <b class="tooltip tooltip-bottom-left">Palun veenduge sisestatud perekonnanime täpsuses.</b>
                    </label>
                </div>
                <div class="clearfix"></div>
                <div class="note">
                    Sisestatud eesnimi ja perekonnanimi peavad ühtima nimega, mida kasutate sisse- ja väljamaksete tegemiseks.
                </div>
                </section>

                <section>
                <label class="label">Sünniaeg</label>
                <div class="birthday-picker" id="birthday-picker-dropdown"></div>
                </section>

                <section>
                <label class="checkbox">
                    <input type="checkbox" id="terms" name="terms">
                    <i></i>Ma nõustun <a data-target="#myModal" data-toggle="modal" href="#">kasutajalepinguga</a>
                </label>
                </section>
            </fieldset>

            <footer>
            <button class="btn btn-labeled btn-success" type="submit">
                <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                </span>
                Registreeru
            </button>
            </footer>

        </form>

    </div>
    <!-- END REGISTER TAB -->

    <!-- BEGIN FORGOT TAB -->
    <div data-ng-show="bbLoginDropdownSvc.activeDropdownTab === 'forgot'" id="forgot-tab">

        <button aria-hidden="true" data-ng-click="bbLoginDropdownSvc.toggleDropdown()"  class="close" type="button">
            ×
        </button>
        <header>
        <h4>Unustasid parooli?</h4>
        </header>
        <form class="smart-form" id="reset-form" action="" novalidate="novalidate">

            <fieldset>
                <section>
                <label class="input"> <i class="icon-prepend fa fa-envelope"></i>
                    <input type="email" name="email" placeholder="Registreeritud e-mail">
                </label>
                <div class="note">
                    Teile saadetakse link, mis lubab sätestada uue parooli.
                </div>
                </section>
            </fieldset>

            <footer>
            <button class="btn btn-labeled btn-success" type="submit">
                <span class="btn-label">
                    <i class="fa fa-envelope"></i>
                </span>
                Saada link
            </button>
            </footer>

        </form>

    </div>
    <!-- END FORGOT TAB -->

</div>
<!-- END LOGIN DROPDOWN CONTENT-->
