<div class="modal-header">
    <button aria-hidden="true" data-ng-click="$dismiss()"  class="close" type="button">
        &times;
    </button>
    <h4><i class="fa fa-warning"></i> <strong>Tähelepanu:</strong> Tuvastasime mitteaktiivsuse!</h4>
</div>
<div class="modal-body">
    <p><i class="fa fa-clock-o"></i> Teie turvalisuse huvides lukustame teie konto <strong>{{warningModalSvcObj.countdownHumanized}}</strong> pärast...</p>
    <progressbar max="warningModalSvcObj.token_exp" value="warningModalSvcObj.countdown" type="idle" animate="true" class="progress-striped active progress-idle"></progressbar>
    <div class="text-align-center">
        <a href="" data-ng-click="$dismiss()" class="btn-bottom-margin btn btn-lg btn-success">
            <i class="fa fa-check"></i>
            Olen tagasi
        </a>
        <a href="" data-ng-click="$close( signout( 'lock_manually' ) )" class="btn-bottom-margin btn btn-lg btn-primary">
            <i class="fa fa-lock"></i>
            Lukusta kohe
        </a>
        <a href="" data-ng-click="$close( signout( false ) )" class="btn-bottom-margin btn btn-lg btn-warning">
            <i class="fa fa-sign-out"></i>
            Logi välja
        </a>
    </div>
</div>
